{
  email {$CADDY_EMAIL}
}

{$API_DOMAIN} {
  reverse_proxy api:8000
}

{$SUBSCRIPTION_DOMAIN} {
  reverse_proxy {$GRPC_ROUTE}* marzban:{$VLESS_PORT} {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
  }

  reverse_proxy unix//var/lib/marzban/marzban.socket
}

{$SITE_DOMAIN} {
  reverse_proxy static:80
}
